{
    "swagger": "2.0",
    "info": {
        "description": "test api",
        "version": "v1",
        "title": "test API"
    },
    "host": "local.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [{
        "name": "auth",
        "description": "auth"
    }],
    "paths": {
        "/": {
            "get": {
                "description": "user login",
                "tags": [
                    "auth"
                ],
                "operationId": "\\App\\Controllers\\Index->index",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/info": {
            "get": {
                "description": "user login",
                "tags": [
                    "auth"
                ],
                "operationId": "\\App\\Controllers\\Index->info",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "description": "user login",
                "tags": [
                    "auth"
                ],
                "operationId": "\\App\\Controllers\\Auth\\Login->index",
                "produces": [
                    "application/json; charset=utf-8"
                ],
                "consumes": [
                    "application/json; charset=utf-8",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [{
                    "name": "user_id",
                    "description": "user id",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "user_password",
                    "description": "user password",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "description": "user register",
                "tags": [
                    "auth"
                ],
                "operationId": "\\App\\Controllers\\Auth\\Register->index",
                "produces": [
                    "application/json; charset=utf-8"
                ],
                "consumes": [
                    "application/json; charset=utf-8",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [{
                    "name": "user_id",
                    "description": "user id",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "user_name",
                    "description": "user name",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "user_password",
                    "description": "user password",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/auth/refresh": {
            "post": {
                "description": "user token refresh",
                "tags": [
                    "auth"
                ],
                "operationId": "\\App\\Controllers\\Auth\\Refresh->index",
                "produces": [
                    "application/json; charset=utf-8"
                ],
                "consumes": [
                    "application/json; charset=utf-8",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [{
                    "name": "refresh",
                    "description": "refresh token",
                    "in": "formData",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/auth/validate": {
            "post": {
                "security": [{
                    "Bearer": []
                }],
                "description": "user token validate",
                "tags": [
                    "auth"
                ],
                "operationId": "\\App\\Controllers\\Auth\\Validate->index",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/pet": {
            "post": {
                "tags": [
                    "pet"
                ],
                "summary": "Add a new pet to the store",
                "description": "test",
                "operationId": "\\App\\Controllers\\Index->pet",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Pet object that needs to be added to the store",
                    "required": true,
                    "schema": {
                        "type": "object",
                        "required": [
                            "name",
                            "photoUrls"
                        ],
                        "properties": {
                            "id": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "category": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            },
                            "name": {
                                "type": "string",
                                "example": "doggie"
                            },
                            "photoUrls": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "tags": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "id",
                                        "name"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int64"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "status": {
                                "type": "string",
                                "description": "pet status in the store"
                            }
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        }
    }
}
